h1 {
    color: rgb(248, 165, 227);
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgb(201, 40, 134);
}
body{
    background-color:rgb(134, 11, 83) ;
}
h2{
    color: rgb(248, 165, 227) ;

}
ul{
    color: rgb(248, 165, 227) ;
}
a{
    color: rgb(17, 1, 13) ;
    font-size: larger;
    font-weight: 700;
}
a:hover {
    color: aliceblue;
}
p{
 background-color:rgb(134, 11, 83);
 color:  rgb(248, 165, 227);
}